.carousel-image {
    height: 550px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra el área definida */
    width: 200%;
}

.body-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos la altura de la ventana */
    text-align: center; /* Centra el texto */
}
