html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para la parte superior de la página */
.cuerpo-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

/* Imagen de bienvenida */
.bienvenida-reno {
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

