{% extends "base.html" %}

{% block title %} Deportes {% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/deportes.css') }}" />
{% endblock %}

{% block body %}
<div class="presentacion-deportes">
  <h1>Deportes</h1>
  <p>Participa en nuestros emocionantes torneos de fútbol, básquet y vóley.</p>

  <!--inicio deportes-->
  <div>
    <div class="voley-aux">
      <div class="voley">
        <div class="texto-voley">
          <h1>Voley</h1>
          <h6>Un deporte de equipo que requiere coordinación y precisión. Si necesita más info...</h6>
          <button onclick=location.href="{{ url_for('voley') }}">Presione aqui</button>
        </div>
      </div>
        <div class="imagen-voley">
          <img src="https://i.ibb.co/1nvFrhS/Copy-of-COPA-R-180.jpg"/>
        </div>
    </div>

    <div class="futbol-aux">
      <div class="imagen-futbol">
        <img src="https://i.ibb.co/WxsMcK1/Copy-of-57.jpg"/>
      </div>
      <div class="futbol">
        <div class="texto-futbol">
          <h1>Futbol</h1>
          <h6>El deporte rey, donde equipos se enfrentan para demostrar quién es el mejor. Si necesita más info...</h6>
          <button onclick=location.href="{{ url_for('futbol') }}">Presione aqui</button>
        </div>
      </div>
    </div>

    <div class="basquet-aux">
      <div class="basquet">
        <div class="texto-basquet">
          <h1>Basquet</h1>
          <h6>Un deporte dinámico y emocionante, lleno de saltos y encestes espectaculares. Si necesita más info...</h6>
          <button onclick=location.href="{{ url_for('basquet') }}">Presione aqui</button>
        </div>
      </div>
        <div class="imagen-basquet">
          <img src="https://i.ibb.co/fpwPqxB/Copy-of-39.jpg"/>
        </div>
    </div>

    

  </div>

{% endblock %}