{% extends 'base.html' %}

{% block title %}
Equipo - My Site
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <h1>Nuestro Equipo</h1>
        <p>¡Conoce a nuestro increíble equipo!</p>
        <div class="card-deck">
            <!-- Aquí puedes iterar sobre los miembros del equipo y mostrar su información -->
            {% for miembro in equipo %}
            <div class="card">
                <img src="{{ miembro.foto }}" class="card-img-top" alt="{{ miembro.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ miembro.nombre }}</h5>
                    <p class="card-text">{{ miembro.descripcion }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2>Información Adicional</h2>
        <!-- Puedes agregar información adicional sobre el equipo aquí -->
    </div>
</div>
{% endblock %}
