{% extends "base.html" %}

{% block title %}Fútbol{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/futbol.css') }}" />
{% endblock %}

{% block body %}
<div class="futbol-general">
    <h3>Bienvenido al apartado de Fútbol</h3>
    <h7>Aquí encontrarás información sobre equipos, entrenadores, y clasificación.</h7>

    <div class="tablas-fase">
        {% for grupo in grupos %}
            <div class="tabla-grupo">
                <h2>Grupo {{ loop.index }}</h2>
                <table>
                    <tr class="header">
                        <th>Nombre del Equipo</th>
                        <th>Entrenador</th>
                        <th>Puntos Totales</th>
                        <th>Clasificación Final</th>
                    </tr>
                    {% for equipo in grupo %}
                        <tr>
                            <td>{{ equipo.nombre }}</td>
                            <td>{{ equipo.entrenador }}</td>
                            <td>{{ equipo.puntos_totales }}</td>
                            <td>{{ equipo.clasificación_final }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
