{% extends "base.html" %} 
{% block title %} Inicio {% endblock %} 

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %} 

{% block body %}

<div class="cuerpo-inicio">
  <img src="https://i.ibb.co/vscsHZ2/7-CD86-CA3-D813-475-D-944-E-55-C4517-D515-E-removebg-preview.png" class="bienvenida-reno"/>
  <h5>El torneo intercolegial más grande de Córdoba Capital.</h5>

  <!-- Carruesel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/s5cgNgx/Copy-of-1.jpg" class="d-block w-100" alt="Imagen 1" />
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/Cn8djVk/Copy-of-COPA-R-014.jpg" class="d-block w-100" alt="Imagen 2" />
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/8r966TT/Copy-of-47.jpg" class="d-block w-100" alt="Imagen 3" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  <!-- Fin del Carruesel -->

  <br/>

  <!-- inicio de explicación-->
<div class="cuerpo-explicacion">
  <div class="primer-cuadrado">
    <h1>intercolegial</h1>
    <p>de ejemplo</p>
  </div>

</div>
   <!-- fin de explicación-->

</div>


{% endblock %}
