{% extends "base.html" %}

{% block title %}Sponsors{% endblock %}

{% block body %}
<h1 class="text-center">Los sponsors son :</h1>
<div class="row justify-content-center">
    {% for sponsor in sponsors %}
    <div class="col-md-4 mb-3 d-flex align-items-stretch">
        <div class="card">
            <img src="{{ sponsor.logo }}" class="card-img-top" alt="{{ sponsor.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ sponsor.name }}</h5>
                <p class="card-text">{{ sponsor.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
